
.editer{
    width: 100%;
    height: 100%;
    &-left,&-right{
        width: 250px;
        // background-color: rgb(243, 76, 76);
        position: absolute;
        top: 10px;
        bottom: 10px;
        overflow-y: scroll;
        &-component{
            width: 200px;
            height: 100px;
            background-color: #eee;
            margin:15px auto;
            position: relative;
            user-select: none;
            cursor: move;
            > span{
                position: absolute;
                top: 0px;
                left: 0px;
                background-color: #aaa;
                color: #fff;
                font-size: 1rem;
                font-weight: bold;
                padding: 5px;
                box-sizing: border-box;
            }  
            > div{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }
        }
        &-component::after{
            content: "";
            position: absolute;
            right: 0px;
            bottom: 0px;
            top: 0px;
            left: 0px;
        }
    }
    &-left{
        left: 10px;
    }
    &-right{
        right: 10px;
    }
    &-top{
        height: 80px;
        position: absolute;
        top: 10px;
        left: 280px;
        right: 280px;
        display: flex;
        justify-content: center;
        align-items: center;
        &-btn{
            width: 60px;
            height: 60px;
            background-color: rgba(0,0,0,.3);
            border-radius: 5px;
            cursor: pointer;
            color: #fff;
            font-size: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            user-select: none;
            &+&{
                margin-left: 5px;
            }
        }
    }
    &-bottom{
        position: absolute;
        top: 100px;
        left: 280px;
        right: 280px;
        bottom: 10px;
        background-color: #fff;
        &-canvas{
            width: 100%;
            height: 100%;
            overflow: scroll;
            &_nr{
                background-color:rgba(0,0,0,0.1);
                margin: 10px auto;
                position: relative;
            }
        }
    }
}
.component-style{
    position: absolute;
    &::after{
        content: '';
        position: absolute;
        right: 0px;
        bottom: 0px;
        top: 0px;
        left: 0px;
    }
}
.component-style-focus{
    &::after{
        border: 2px dashed red;
    }
}
.component-style-preview{
    &::after{
        display: none;
    }
}
.line-x{
    position: absolute;
    left: 0px;
    right: 0px;
    border-top: 2px dotted red;
}
.line-y{
    position: absolute;
    top: 0px;
    bottom: 0px;
    border-left: 2px dotted red;
}
.contextmenu{
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 2px  5px 2px #bbb;
    z-index: 1000;
    border-radius: 3px;
    padding: 8px 0px;
    font-size: 0.85rem;
}
.item-dropdown{
    line-height: 30px;
    width: 100px;
    border-bottom: 1px solid #bbb;
    text-align: center;
    cursor: pointer;
    &>i{
        margin-right: 5px;
    }
    &:hover{
        background-color: #bbb;
    }
    &:first-child{
        border-top: 1px solid #bbb;
    }
}

.editer-attribute{
    padding: 30px;
    &-item{
        // margin-top: 15px;
    }
}